@media screen and (max-width: 800px) { 
   .helo{
       /* width: 100vw; */
       background-color: black;
       flex-direction: column;
       margin-bottom: 2px;

   }
   .container5{
       display: flex;
        width: 100vw;
        

       
   }
}